.product {
    display: grid;
    grid-auto-flow: row;
    border-radius: 15px;
    background-color: white;
    align-content: center;
    justify-content: center;
    grid-template-rows: auto 1fr 0.25fr;

    &__img {
        display: grid;
        border-radius: 15px;
        align-content: center;
        justify-content: center;
        position: relative;
        padding: 0px 0px 95% 0px;
        width: 200px;
        height: 200px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 15px;
        }
    }

    &__discription {
        width: 100%;
        display: grid;
        align-content: top;
        justify-content: center;
        padding: 5px;

        

    }
    &__change-button {
        color: white;
        border-radius: 15px;
        border-width: 0px;
        background-color: #007bff;
        transition-duration: 0.5s;
        width: 70%;


    }

    &__change-button:hover {
        background-color: #0067d4;
        width: 100%;

    }

    &__buttons {
        display: grid;
        align-items: end;
        justify-items: center;
    }
}