.header {
    box-shadow: 0px 0px 35px 1px #d5d5d8;
    padding: 15px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    row-gap: 20px;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.grid-products {
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.grid-global {
    display: grid;
    grid-template-rows: auto auto;
}

.header__filters {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
}

.show {
    display: grid;
}

.hide {
    display: none;
}

.scroll-stop {
    overflow: hidden;
}